#wrapper{
	max-width: 90%;
	margin:0 auto;
}
h1{
	font-size: 36pt;
}
.flex-container1{
	display: flex;
	background-color:lightgrey;
}
.box1{
	background-color: lightgreen;
	width:60px;
	padding:20px;
	text-align: center;
	font-size: 22pt;
	margin:20px;
}
.box2{
	background-color: lightblue;
	width:60px;
	padding:20px;
	text-align: center;
	font-size: 22pt;
	margin:20px;
}
.box3{
	background-color: lightpink;
	width:60px;
	padding:20px;
	text-align: center;
	font-size: 22pt;
	margin:20px;
}
.flex-container2{
	display:flex;
	flex-direction:row-reverse;
	background-color: lightgrey;
}
.flex-container3{
	background-color:lightgrey;
	display:flex;
	flex-direction:column;
}
.flex-container4{
	background-color:lightgrey;
	display:flex;
	flex-direction:column-reverse;
}
.flex-container5{
	display: flex;
	background-color:lightgrey;
	justify-content: flex-start;
}
.flex-container6{
	display: flex;
	background-color:lightgrey;
	justify-content: flex-end;
}
.flex-container7{
	display: flex;
	background-color:lightgrey;
	justify-content: center;
}
.flex-container8{
	display: flex;
	background-color:lightgrey;
	justify-content: space-around;
}
.flex-container9{
	display: flex;
	background-color:lightgrey;
	justify-content: space-between;
}
.flex-container10{
	display: flex;
	background-color:lightgrey;
	justify-content:space-evenly;
}
.flex-container11{
	display: flex;
	background-color:lightgrey;
	align-items: flex-start;
}
.flex-container12{
	display: flex;
	background-color:lightgrey;
	align-items: center;
}
.flex-container13{
	display: flex;
	background-color:lightgrey;
	align-items:stretch;
}
.flex-container14{
	display: flex;
	background-color:lightgrey;
	align-items:baseline;
}